*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
ul{
    list-style: none;
}

button{
    all: unset;
    cursor: pointer;
}

.container{
    padding: 20px 150px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-part1 i{
    font-size: 30px;
    color: #326CF9;
}
.header-part1{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}
.header-part2{
    display: flex;
    gap: 25px;
    font-size: 15px;
    font-weight: 500;
}
.header-part2 li{
    color: #707070;
}

.header-part3{
    display: flex;
    gap: 25px;
    align-items: center;
}

.signup{
    background-color: #306EF7;
    padding: 5px 8px;
    border-radius: 5px;
}

.content1{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding: 100px;
    text-align: center;
    /* background-color: red; */
}

.lastline{
    color: #FE6783;
}

.content1-data{
    font-size: 40px;
}
.content1-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.content1-middle p{
    width: 370px;
    text-align: center;
}

.middle-button{
    display: flex;
    gap: 20px;
}

.start-button{
    background-color: #306EF7;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    width: 150px;
}

.view-button{
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    width: 150px;
    border: 1px solid #707070;
}

.middle-last{
    display: flex;
    background-color: red;
}
.last-middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.last-middle p{
    /* background-color: red; */
    width: 220px;
    color: #707070;
    font-size: 15px;
}

.page2{
    /* background-color: red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.page2-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.header-card2{
    display: flex; 
    gap: 5px; 
    align-items: center;
}

.card p {
    color: #707070;
    font-size: 12px;
}

.page2-heading{
    font-size: 20px;
}

.page2-second{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.step1{
    color: #3D82F2;
    font-size: 15px;
}

.page2-second h1{
    font-size: 40px;
}

.step1-description{
    width: 450px;
    color: #707070;
}
.page2-second button{
    color: #707070;
    padding: 15px;
    border-radius: 10px;
    font-size: 13px;
    width: 150px;
    border: 1px solid #707070;
}

.page3{
    display: flex;
    gap: 150px;
    margin-top: 100px;
}

.page3-part1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* background-color: red; */
}

.page3-part2{
    width: 820px;
}

.page3-part2 img{
    width: 100%;
}

.page3-part1 h3{
    font-weight: 500;
}

.page3-description-card{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.page3-description-card p {
    font-size: 13px;
    width: 350px;
}
.page3-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page3-description-card h6{
    background-color: #2D2D2D;
    padding: 5px 10px;
    border-radius: 50%;
}

.page3-button{
    display: flex;
    gap: 30px;
}

.start-now{
    background-color: #306EF7;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 13px;
    width: 150px;
    text-align: center;
}

.view-demo{
    color: #707070;
    padding: 15px;
    border-radius: 10px;
    font-size: 13px;
    width: 150px;
    border: 1px solid #707070;
    text-align: center;
}

.page4, .page5-part1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
    align-items: center;
}

.page4-img{
    width: 1200px;
}

.page4-img img{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.page4 p, .page5-part1 p{
    color: #3D82F2;
}

.page4 h1, .page5-part1 h1{
    font-weight: 600;
}

.page4 h5, .page5-part1 h5{
    color: #707070;
    width: 400px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.page5-part2{
    display: flex;
    gap: 100px;
}

.page6-img{
    width: 1200px;
}

.page6-img img{
    width: 100%;
    color: #2D2D2D;
}

.page6{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 50px;
}

.page7{
    width: 100%;
}

.page7 img{
    width: 100%;
}

.page8{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    /* background-color: red; */
}

.page8 i{
    font-size: 80px;
    color: #326CF9;
}

.page8 h1{
    font-size: 50px;
}

.page8 h4{
    font-weight: 400;
    font-size: 20px;
}
